Body{
    margin-top: 10px;
    border: 10px;
    padding: 30em;
    padding-top:0%;
    font-size: smaller;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.paragraph{
    color:rgb(0, 128, 100);
    border-style: inset;
    border-top: solid;
    background-color: lightgoldenrodyellow;
    text-align: center;

}
.para{
    text-align: center;
    white-space: nowrap;
}
.pp{
    text-align: justify;
    object-fit: cover;
}
.caption{
    text-align:center;
    color: silver;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
}
.featured{
    text-align: justify;
    border-left: solid;
    border-color: darkkhaki;
}
#ref{
    color: saddlebrown;
    font-weight: bold;
}
.bottom{
    border-bottom: solid;
    text-align: center;
}
.ingre{
    text-align: justify;
}
#head{
    font-weight: bold;
}
.method{
    text-align:justify;
}
#head2{
    font-weight:bold;
}
.meth{
    border-bottom: solid;
    text-align: justify;
}
.met{
    font-weight:bold;
}

